/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
 
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(0, 0%, 5%);
  --black-color-light: hsl(0, 0%, 70%);
  --white-color: hsl(0, 0%, 100%);
  --title-color: hsl(0, 0%, 5%);
  --text-color: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 96%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Arimo', sans-serif;
  --second-font: 'Arimo', sans-serif;
  --biggest-font-size: 2.1rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img {
  width: 8rem;
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width:1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--body-color);
    box-shadow: -1px 0 16px hsl(0, 0%, 0%, .1);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem;
    transition: right .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--title-color);
  font-family: var(--second-font);
}

.nav__close {
  position: absolute;
  top: 1.125rem;
  right: 1.5rem;
}


/* Show menu */
.show-menu {
  right: 0;
}

/* Add shadow header */
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .1);
}

/*=============== HOME ===============*/
.home__container {
  position: relative;
  display: grid;
  row-gap: 2rem;
  padding-block: 8rem 4rem;
}

.home__subtitle,
.home__title,
.home__button {
    font-family: var(--second-font);
    color: var(--title-color);
}

.home__subtitle {
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home__description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.home__button {
  display: inline-block;
  background-color: var(--white-color);
  box-shadow: 0 8px 32px hsl(0, 0%, 0%, .1);
  padding: 1rem 3rem;
  border-radius: 4rem;
  font-weight: var(--font-bold);
  transition: box-shadow .4s;
}

.home__button:hover {
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, .15);
}

.home__social {
  position: absolute;
  top: 8rem;
  right: 0;
  display: grid;
  row-gap: 1rem;
}

.home__social-link {
  display: inline-flex;
  font-size: 1.25rem;
  color: var(--black-color);
  transition: transform .4s;
}

.home__social-link:hover {
  transform: translateY(-.25rem);
  color: var(--text-color);
}

.home__images {
  display: grid;
  position: relative;
}

.home__shoe {
  width: 300px;
  margin-inline: auto;
}

.home__circle {
  width: 250px;
  height: 250px;
  background: linear-gradient(180deg, 
              hsl(0, 0%, 25%),
              hsl(0,0%,96%));
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;            
}

/* Swiper class */
.swiper {
  margin-inline: initial;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -2rem;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: .25rem;
  border-radius: 0rem;
  background-color: var(--black-color-light);
  opacity: 1;
  transition: background-color .3s, width .3s;
}

.swiper-pagination-bullet-active {
  width: 1.125rem;
  background-color: var(--black-color);
}

.swiper-pagintaion-horizontal.swiper-paginataion-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}


/*slider*/

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.btn::after {
  transition: border 0.1s linear 0.05s;
}
.btn .btn-inner {
  position: relative;
  z-index: 2;
}
.btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}
.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}
.slideshow .slide .caption {
  padding: 0 100px;
}
.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}
.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}
.slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #fff;
}
.slideshow .slide .btn::before {
  background: #fff;
}
.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}
.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}
.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slideshow .arrows .prev {
  left: 30px;
}
.slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.slideshow .arrows .next {
  right: 30px;
}
.slideshow .arrows .next:hover .svg {
  left: 10px;
}
.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}











/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width:320px) {
   .container {
    margin-inline: 1rem;
   }

   .home__title {
    font-size: 2rem;
   }

   .home__circle {
    width: 220px;
    height: 220px;
   }
}

/* For medium devices */
@media screen and (min-width:576px) {
  .nav__menu {
    width: 60%;
  }

  .home__container {
    grid-template-columns: 350px;
    justify-content: center;
  }

  .home__data {
    text-align: center;
  }
}

/* For large devices */

@media screen and (min-width:1023px) {
    .nav {
      height: calc(var(--header-height) +2rem);
    }
    .nav__toggle,
    .nav__close {
      display: none;
    }

    .nav__menu {
      width: initial;
    }

    .nav__list {
      flex-direction: row;
      column-gap: 4rem;
    }

    .home__container {
      height: 100vh;
      grid-template-columns: repeat(2, 400px);
      place-items: center;
      column-gap: 2rem;
    }
    .home__data {
      text-align: initial;
    }
    .home__social {
      align-content: center;
      top: 0;
      bottom: 0;
    }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    grid-template-columns: 430px 600px;
    column-gap: 4.5rem;
  }
  .home__title {
    margin-bottom: 1.25rem;
  }

  .home__description {
    font-size: var(--normal-font-size);
    margin-bottom: 3rem;
  }
  .home__shoe {
    width: 600px;
  }
   
  .home__circle {
    width: 500px;
    height: 500px;
  }
}

@media screen and (min-width: 1248px) {
  .home__social {
    right: -3rem;
    row-gap: 2rem;
  }
  .home__social-link {
    font-size: 1.5rem;
  }
}


/*map*/
/*--------------gallary--------*/
/*--------------map--------*/
.map iframe {
  width: 100%;
  padding-top: 75px;
}


/*photo section*/

.photo {
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    padding-top: 75px;
}

.photo-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
}

.photo-content .card {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 15px;
  overflow: hidden;
}

.photo-content .card .imgBx,
.photo-content .card .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photo-content .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-content .card .contentBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
  transition-delay: 0.5s;
}

.photo-content .card:hover .contentBx:before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin:left;
  transition-delay: 0s;
} 

.photo-content .card .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-content .card .contentBx .content {
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-300px);
  transition-delay: 0s;
}

.photo-content .card:hover .contentBx .content {
  transform: translateX(0px);
  transition-delay: 0.25s;
} 

.photo-content .card .contentBx .content h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.photo-content .card .contentBx .content p {
  font-size: 1em;
  line-height: 1.4em;
  font-weight: 300;
}


/*=============== FOOTER ===============*/
.footer {
  padding-block: 2.5rem;
  background-color: var(--body-color);
}

.footer__content {
  row-gap: 3.5rem;
}

.footer__logo {
  display: inline-block;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__data {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  display: grid;
  row-gap: .75rem;
}

.footer__link {
  color: var(--text-color);
  transition: color .4s;
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__group,
.footer__social {
    display: flex;
}

.footer__group {
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.footer__social {
  column-gap: 1.5rem;
}

.footer__social-link {
  color: var(--text-color);
  font-size: 1.25rem;
  transition: color .4s, transform .4s;
}

.footer__social-link:hover {
  color: var(--title-color);
  transform: translateY(-.25rem);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-align: center;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: var(--body-color)
}

::-webkit-scrollbar-thumb {
  width: .5rem;
  border-radius: .5rem;
  background-color: var(--black-color-light);
}

::-webkit-scrollbar-thumb:hover {
   background-color: var(--black-color-light);
}

@media screen and (max-width:340px) {
   .footer__data {
    grid-template-columns: max-content;
  }
}

@media screen and (min-width:576px) {
  .footer__data {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width:768px) {
  .home__cards {
    grid-template-columns: repeat(2, 240px);
  }

  .about__container,
  .join__container {
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .about__data,
  .about__data .section__title,
  .join__data,
  .join__data .section__title {
    text-align: initial;
  }

  .popular__container {
    grid-template-columns: repeat(2, 240px);
  }

  .explore__img {
    width: 100vw;
  }

  .join__image {
    order: -1;
  }

  .footer__content {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__group {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__copy {
    order: -1;
  }
}

/* For large devices */

@media screen and (min-width:1023px) {
  .footer__data {
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }
}

@media screen and (min-width:1152px) {
 
  .footer {
    padding-block:5rem 3rem;
  }

  .footer__title {
    margin-bottom: 1.5rem;
  }

  .footer__group {
    margin-top: 7rem;
  }

  .footer__social {
    column-gap: 2rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
  }

  
}
